In [19]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\pc\anaconda3\lib\site-packages (1.4.4)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\pc\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\pc\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\pc\anaconda3\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: six>=1.5 in c:\users\pc\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [67]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [21]:
df_train = pd.read_csv("train.csv")

In [36]:
df_train

,row_id,cfips,county,state,first_day_of_month,microbusiness_density,active
0,1001_2019-08-01,1001,Autauga County,Alabama,2019-08-01,3.007682,1249
1,1001_2019-09-01,1001,Autauga County,Alabama,2019-09-01,2.884870,1198
2,1001_2019-10-01,1001,Autauga County,Alabama,2019-10-01,3.055843,1269
3,1001_2019-11-01,1001,Autauga County,Alabama,2019-11-01,2.993233,1243
4,1001_2019-12-01,1001,Autauga County,Alabama,2019-12-01,2.993233,1243
...,...,...,...,...,...,...,...
122260,56045_2022-06-01,56045,Weston County,Wyoming,2022-06-01,1.803249,101
122261,56045_2022-07-01,56045,Weston County,Wyoming,2022-07-01,1.803249,101
122262,56045_2022-08-01,56045,Weston County,Wyoming,2022-08-01,1.785395,100
122263,56045_2022-09-01,56045,Weston County,Wyoming,2022-09-01,1.785395,100
122264,56045_2022-10-01,56045,Weston County,Wyoming,2022-10-01,1.785395,100

In [22]:
df_train.columns

Index(['row_id', 'cfips', 'county', 'state', 'first_day_of_month',
       'microbusiness_density', 'active'],
      dtype='object')

In [23]:
target = df_train["microbusiness_density"]

In [24]:
target

0         3.007682
1         2.884870
2         3.055843
3         2.993233
4         2.993233
            ...
122260    1.803249
122261    1.803249
122262    1.785395
122263    1.785395
122264    1.785395
Name: microbusiness_density, Length: 122265, dtype: float64

In [26]:
df_train.dtypes

row_id                    object
cfips                      int64
county                    object
state                     object
first_day_of_month        object
microbusiness_density    float64
active                     int64
dtype: object

In [ ]:
import plotly.express as px

df = px.data.gapminder().query("country=='Canada'")
fig = px.line(df, x="year", y="lifeExp", title='Life expectancy in Canada')
fig.show()

In [35]:
df_train["county"].value_counts()

Washington County        1170
Jefferson County          975
Franklin County           936
Lincoln County            897
Jackson County            897
                         ...
Androscoggin County        39
Winn Parish                39
West Feliciana Parish      39
West Carroll Parish        39
Weston County              39
Name: county, Length: 1871, dtype: int64

In [39]:
len(df_train["first_day_of_month"].unique())

39

In [ ]:
df_train[df_train["county"] == "Washington County"]["first_day_of_month"].value_counts()

In [62]:
df_train

,row_id,cfips,first_day_of_month,microbusiness_density,active,Abbeville County,Acadia Parish,Accomack County,Ada County,Adair County,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,1001_2019-08-01,1001,2019-08-01,3.007682,1249,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001_2019-09-01,1001,2019-09-01,2.884870,1198,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1001_2019-10-01,1001,2019-10-01,3.055843,1269,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1001_2019-11-01,1001,2019-11-01,2.993233,1243,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1001_2019-12-01,1001,2019-12-01,2.993233,1243,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122260,56045_2022-06-01,56045,2022-06-01,1.803249,101,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
122261,56045_2022-07-01,56045,2022-07-01,1.803249,101,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
122262,56045_2022-08-01,56045,2022-08-01,1.785395,100,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
122263,56045_2022-09-01,56045,2022-09-01,1.785395,100,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
122264,56045_2022-10-01,56045,2022-10-01,1.785395,100,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [55]:
df_train = pd.concat([df_train, pd.get_dummies(df_train["county"])],  axis=1)

In [56]:
df_train = pd.concat([df_train, pd.get_dummies(df_train["state"])],  axis=1)

In [59]:
df_train.drop(["state","county"], axis=1, inplace=True)

In [63]:
df_train.drop(["row_id","cfips"], axis=1, inplace=True)

In [65]:
target = df_train["microbusiness_density"]
df_train.drop(["microbusiness_density"], axis=1, inplace=True)

In [75]:
import datetime as dt
df_train['Date'] = pd.to_datetime(df_train['first_day_of_month'])
df_train['Date']=df_train['Date'].map(dt.datetime.toordinal)

In [84]:
df_train.order_by("Data")

AttributeError: 'DataFrame' object has no attribute 'order_by'

In [92]:
df_train.drop(["first_day_of_month", "active"], axis=1, inplace=True)

In [93]:
df_train.sort_values(by='Date', inplace=True)

In [94]:
X_train, X_test, y_train, y_test = train_test_split(df_train, target, test_size=0.33, random_state=42)

In [95]:
X_train

,Abbeville County,Acadia Parish,Accomack County,Ada County,Adair County,Adams County,Addison County,Aiken County,Aitkin County,Alachua County,...,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming,Date
112523,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,737516
28880,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,737881
2536,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,737303
63539,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,737516
66592,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,737850
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86774,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,738429
103227,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,738276
32175,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,737272
28436,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,737425
1325,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,738429

In [96]:
from sklearn.neighbors import KNeighborsRegressor
neigh = KNeighborsRegressor(n_neighbors=4)
neigh.fit(X_train, y_train)

[2.4317788  3.64321227 2.95315195 ... 1.36536044 4.2458083  3.38487075]

In [99]:
y_pred = neigh.predict(X_test)

In [100]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

-0.14084625999056066

In [102]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test, y_pred)

24.95794147087021

In [106]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
scaler.fit(X_train)
print(scaler.fit(X_train))

X_train = scaler.transform(X_train)

MinMaxScaler()

In [107]:
X_train

array([[0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.21089023],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.52636128],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.02679343],
       ...,
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.13223855],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        1.        ]])

In [108]:
from sklearn.neighbors import KNeighborsRegressor
neigh = KNeighborsRegressor(n_neighbors=4)
neigh.fit(X_train, y_train)

KNeighborsRegressor(n_neighbors=4)

In [109]:
y_pred = neigh.predict(X_test)

C:\Users\PC\anaconda3\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but KNeighborsRegressor was fitted without feature names
  warnings.warn(

In [110]:
r2_score(y_test, y_pred)

-1.7481928531929563